html,
body {
	background-color: #f7f7f7;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	margin-left: 20px;
	user-select: none;
}

#topCart {
	color: #f7f7f7;
	float: right;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	padding-bottom: 0;
	margin-top: 10px;
	font-weight: bold;
}

#topCart:hover {
	color: black;
	background-color: #f7f7f7;
	cursor: pointer;
}

#cartImage {
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 10px;
}

#topBar {
	position: fixed;
	background-color: black;
	color: #f7f7f7;
	width: 100%;
	height: 80px;
	top: 0;
}

#filters {
	position: fixed;
	color: #f7f7f7;
	background-color: black;
	height: 40px;
	width: 100%;
	margin: 0;
	user-select: none;
	box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.65);
}

#sortName,
#sortPrice,
#sortCategory {
	display: inline-block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	padding-bottom: 0;
	margin-top: 10px;
	font-weight: bold;
}

#sortName:hover,
#sortPrice:hover,
#sortCategory:hover {
	color: black;
	background-color: #f7f7f7;
}

#mainContent {
	margin-top: 80px;
	background-color: #f7f7f7;
}

.addToCart,
.removeFromCart {
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

.addToCart:hover,
.removeFromCart:hover {
	background-color: black;
	color: #f7f7f7;
}

#inventoryList {
	display: grid;
	grid-gap: 4px;
	padding-top: 50px;
	grid-template-columns: repeat(5, 1fr);
}
.invItems {
	display: inline-block;
	padding: 10px;
	margin: 20px;
	width: 192px;
	height: 360px;
	border-style: solid;
	box-shadow: 10px 10px 5px -2px rgba(0, 0, 0, 0.65);
	border-radius: 6px;
}

.productImage {
	width: 192px;
	height: 192px;
}

#confirm {
	visibility: hidden;
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	width: 160px;
	height: 80px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
	margin: auto;
	font-size: 20px;
	padding: 5px;
	z-index: 99;
}

#confirmAdd {
	left: 0;
}

#cancel {
	right: 0;
}

#confirmAdd:hover,
#cancel:hover {
	background-color: black;
	color: #f7f7f7;
}

#cartTotal {
	position: fixed;
	background-color: black;
	color: #f7f7f7;
	width: 100%;
	height: 0;
	bottom: 0;
	transition: 0.5s;
}

#total,
#continueButton,
#checkOut {
	display: inline;
	padding: 15px;
}

#checkOut,
#continueButton {
	float: right;
	background-color: #f7f7f7;
	color: black;
	border: 4px;
	border-color: black;
	border-style: solid;
	border-left: 0;
}

#total {
	color: #f7f7f7;
	font-size: 24px;
}
#checkOut:hover,
#continueButton:hover {
	background-color: red;
	color: #f7f7f7;
	cursor: pointer;
}

#cartItems {
	display: block;
	border-style: solid;
	border-color: black;
	border: 4px;
	width: 80%;
}

#cartImage,
#cartName,
#cartPrice,
#removePrice {
	display: inline-block;
}

.cartImage {
	width: 32px;
	height: 32px;
}

.removeCart {
	background-color: black;
	color: #f7f7f7;
}
.removeCart:hover {
	cursor: pointer;
	background-color: red;
	color: black;
}
